
@media only screen and (max-width: 600px) {
  #wraper{
    width:100%;}
}


@media only screen and (min-width: 600px) {
  #wraper{
    width:100%;}
}

@media only screen and (min-width: 768px) {
  #wraper{
    width:100%;}
}
@media only screen and (min-width: 992px) {
  #wraper{
    width:100%;}
}
@media only screen and (min-width: 1200px) {
  #wraper{
    width:100%;}
}

body{
    background-color:rgb(210, 216, 243);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: contain;
    font-family:'Times New Roman', Times, serif;
    color: rgb(6, 63, 110);
    display: block;
    overflow-x: hidden;
  
}

header{
   
    text-align: center;
    float: left;
    margin-top: -18mm;
    margin-left: -20mm;
    line-height: 1mm;
}


nav{
    font-family:fantasy;
    word-spacing: 5mm;
    font-size:27px;
    margin-top: 15mm;
    word-spacing: 16mm;
    margin-left: -11mm;
    
}

a:link{
 color: rgb(6, 66, 94);
    text-decoration: none;
}
a:visited{
  color:rgb(240, 235, 239);
}
  a:hover{
    color:rgb(199, 187, 16) ;
   
  }
  #img1{
    float: right;
    width: 690px;
    height: 490px;
    margin-top: -10mm;
    
    
  }

  h1{
    font-size:50px;
    font-weight: bolder;
    color: rgb(6, 63, 110);
  }
 
  main{
    margin-top: 10mm;
    margin-left: 4mm;
    margin-right: 2mm;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  input[type=tel]{
    width: 30%;
    border: 2px solid rgb(6, 66, 94);
    border-radius: 6px;
    margin-bottom: -20mm;
    margin-right: 5mm;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
    transition: 0.3ms;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3mm;

  }
  input[type=tel]:focus{
       border-color: rgb(63, 159, 255);
       box-shadow: 0 0 8px 0 dodgerblue;
       
  }
  #button{
    width: 14%;
    border: 2px solid rgb(107, 158, 182);
    border-radius: 8px;
    margin-left: -2mm;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
    transition: 0.3ms;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(240, 235, 239);
    text-align: center;
   
  }
  #button a:link{
    color:#023047;
  }
  #button a:visited{
    color:rgb(107, 158, 182);
  }
  #button a:hover{
    color:rgb(199, 187, 16) ;
   
  }
  .newb a:link{
    color:#023047;
  }
  .newb a:visited{
    color:rgb(107, 158, 182);
  }
  .newb a:hover{
    color:rgb(199, 187, 16) ;
   
  }
  #why{
    padding-bottom: -3mm;
    background-image: url(part1.gif);
    background-position-x: 5mm;
    background-size: cover;
    margin-left: -10mm;
    margin-right: -10mm;
    height: 690px;
    background-repeat: no-repeat;
    margin-top: 14mm;
    opacity: 0.9;
   color: rgb(246, 247, 248);
  }
  .header-area h2{
    margin-left: 5mm; 
    margin-top: 1mm;
    position: absolute;
   text-shadow: 0 2px 5px rgba(0, 0, 0, 0.384);
   font-size: 25px;
  }
  .header-area h2 span{
    color: rgb(204, 212, 228);
    font-size: 40px;
  }
  .click{
    cursor: pointer;
  }
  
.column {
       padding: 20px;
    
     }
#ht{
    border-radius: 15mm;
    margin-left: 25mm;
     height: 360px;
     width: 570px ;
    margin-top: 7mm;
    border: 2px solid rgb(14, 22, 58);
    
}
#tdf{
  background-color:rgb(240, 235, 239) ;
}
#tdf a:link{
  color:#023047;
}
#tdf a:visited{
  color:rgb(107, 158, 182);
}
#tdf a:hover{
  color:rgb(199, 187, 16) ;
 
}
td{
   
    padding: 10px 35px;
      border-radius: 3mm;
      font-family:Georgia, 'Times New Roman', Times, serif; 
      margin-bottom: 16mm;   
      
}
tr:nth-child(odd){
  background-color: rgb(240, 235, 239);
  color: #023047;
}
tr:nth-child(even){
  color: rgb(240, 235, 239);
  background-color: #023047;
}
tr{
   margin-left: -15mm;
   margin-right: 53mm;
}
.left{
    float: right;
     margin-top: -60mm;
     margin-left: -70mm;
     margin-right: 15mm;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.platforms{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    float: left;
    margin-top: -20mm;
    margin-left: 10mm;
    margin-bottom: -25mm;
    
}
.menu{
    position: relative;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    position: absolute;
    list-style: none;
    transform: rotate (0deg)translateX(80px);
    transform-origin: 100px;
    left: 50;
    transition: 0.5s;
    transition-delay: calc(0.1s*var(--i));
}
.toggle{
   position: absolute; 
   height: 60px;
   width: 60px;
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10000;
   border-radius: 50%;
   cursor: pointer;
box-shadow: 0 3px 4px rgb(1, 1, 34) ;
font-size: 2em;
transition:transform 1.25s;

}
.menu .active .toggle{
    transform: rotate (315deg);
}
.menu.active li{
    transform: rotate(calc(360deg / 6*var(--i)));
}
.menu li a{
    width: 40px;
    height:40px;
    background: rgb(4, 14, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
    transform: rotate(calc(360deg / -6*var(--i))); 
    box-shadow: 0 3px 4px rgb(0, 0,0,15);
    left:50px;
}
.menu li a:hover{
    color: #136cc0;
}
.proj{
    margin-top: 15mm;
    margin-left: 7mm;
    display: flex;
   
}
.video{
    border-radius: 5mm;
    height: 145px;
    margin-right: 15mm;
    margin-left: 10mm;
    
    border: 2px solid #072792c2;  ;
      
}
.newb{
    width: 25%;
    border: 2px solid rgb(6, 66, 94);
    border-radius: 20px;
   outline: none;
   padding: 15px;
   box-sizing: border-box;
    transition: 0.3ms;font-size: larger;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color:rgb(240, 235, 239);
     text-align: center; 
}
.container {
  position: relative;
  height: 450px;
  width: 250px;
  border-radius: 10px;
  margin-top: 33mm;
  margin-left: 4mm;
  margin-right: 4mm;

}

.video-container {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  height: 139px;
  border: 5px solid rgba(255, 255, 255, 0.904); 
}

.myVideo {
  width: 150px;
  height: 150px;
  object-fit: cover;
 
}

.content-container {
  padding: 50px;
  background-color: #f1f1f1;
  margin-top: -15px;
  margin-left: 2mm;
  text-align: center;
  border-radius: 20px;
  font-family:'Times New Roman', Times, serif;
  color: rgb(6, 63, 110); 
  height: 340px;
  width: 240px;
  box-sizing: border-box;
  border: 2px solid rgb(3, 3, 78);
}


.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 50mm;
   margin-left: -3mm;
    margin-right: -3mm;
    font-family:'Times New Roman', Times, serif ;
    color: rgb(14, 36, 99);
    font-size: 30px;  
}
.error {
    color: red;
    font-size: 1.5em;
    margin-top:-3mm;
  }
  .myvideo{
    border-radius: 50%;
    transform: rotate(360deg);
    animation: spin 10s linear infinite;
  }

  .column {
    padding: 20px;
 
  }

.floatleft{
 float:left;	
 margin-right:3em;
 
}
.floatright{
 float:right;
 margin-top:1em;
 margin-left:80px;
}
.p{
 color: rgb(6, 63, 110);
 font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size:18px;
}
.button1{
outline-style:solid;
outline-color:rgb(6, 63, 110);
border-radius:30px;
border-width:20px;
border-style:solid;
background-color:rgb(6, 63, 110);
font-family:'Times New Roman', Times, serif ;
border-color:rgb(6, 63, 110);
color:#FFFFFF;
text-align:center;
}
.button2{
outline-style:solid;
outline-color:rgb(6, 63, 110);
border-radius:10px;
border-width:10px;
border-style:solid;
background-color:rgb(6, 63, 110);
font-family:Verdana, Geneva, Tahoma, sans-serif;
border-color:rgb(6, 63, 110);
color:#FFFFFF;
text-align:center;
}
figure{
border:5px; 
padding:3px;
}
#box1{
margin:20px;
margin-left:30px;
padding:5px;
border-radius: 25px;
background: #FFFFFF;
box-shadow: 10px 5px 40px;
}
img{
border-radius: 25px;
}
#box2{
margin:80px;
margin-left:50px;
padding:15px;
border-radius: 25px;
background: #FFFFFF;
box-shadow: 10px 5px 40px;
}
.vid{
 float:right;
 margin-bottom:-3em;
 margin-top:-3em;
 margin-left:80px;
 border-radius:30px;
}




.boxed {
  border: 3px solid rgb(248, 184, 163);
  background-color: white;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  border-radius: 10px;
  padding-left: 20px;
}

.box{
 margin-right: 80px;
}



.paragraph{
  font-size:large;
}



#h1{
  text-align: center;
  color:blue;
}

.jobs-list-container {
  max-width: 900px;
  margin: 20px auto;
  font-family: "Rubik", sans-serif;
  margin-right: 350px;
  


}

.jobs-list-container h2 {
  font-size: 30px;
  border-left: 4px solid #023047; 
  padding-left: 15px;
}

.jobs-list-container .jobs {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  
  

}

.jobs-list-container .jobs img {
  width: 100px;
  margin-left: 5px;
  
}

.jobs-list-container .job {
  box-shadow: 0 4px 24px -8px rgba(2,48,71,0.2);
  padding: 24px;
  border-radius: 16px;
  position: relative;
  transition: all 400ms ease;

}

.jobs-list-container .job:hover {
  transform: scale(1.03);
}

.jobs-list-container .open-positions { 
  position: absolute;
  top:5px;
  margin-right: 5px;
  right:40px;
color: #e63946

}

.jobs-list-container .job-title {
  padding: 10px 0;
  font-size:15px;
  margin: 0;
  color:#023047;

  
}

.jobs-list-container .details {
  margin-top: 6px;
  font-size:15px;
  color:#333;
  line-height:1.2;
  margin-bottom:5px;

}


.button{
  background-color:rgb(248, 184, 163);
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 80px;
  

}


#div1,#div2,#div3,#div4,#div5,#div6{
  display: none;

}

.h2{
  font-size: 20px;
  color: purple;
}

.input-group{
  width:100%;
  display:flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.input-group span{
  bottom: 12px;
  right:5px;
  font-size:13px;
  color:red;
}

#submit-error{
  color:red;

}

.form{

  width: 35cm;
  
  color: black;
  border-radius: 10px;
  border: 5px solid  rgb(248, 184, 163) ;
  
  height: 770px;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: 50%;
  
  
}


#form2 {
  margin-right: 80px;
  
  
}

  

label{
  display:inline-block;
  margin:0.2cm;
  font-size: 16px;
  font-weight:  bold;
}


input{
   padding:4px;
   margin:5px;
   font-size: 16px;
   border-radius:10px
}
   





  #submit{
      margin-top: 1px;
      font-weight: bold;

      color:white;
      background-color:dodgerblue;
  }

  #submit:hover{
      background-color: green;
      color:#f9f9f9;

  }

  .column {
      padding: 20px;
   
    }

    .footer{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-top: 50mm;
     margin-left: -3mm;
      margin-right: -3mm;
      font-family:'Times New Roman', Times, serif ;
      color: rgb(14, 36, 99);
      font-size: 30px;
  
      
  }




  .container {
    display: grid;
    width: 100%;
height:100%;
    margin: 60px auto;
    margin-top: 15%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

.front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container1 {
    position: relative;
}

.front h2 {
    color:#0047ab;
text-align:center;
    top: 50%;
    left: 30%;
font-size:25px;
font-family:cursive;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
height:100%;
    background: white;
    color: black;
    padding: 15px;
    transform: perspective(600px) rotateY(180deg);
    transition: transform .5s linear 0s;
    backface-visibility: hidden;
    border-radius: 10px;
font-size:18px;
font-family:monospace;
}

.front {
    color: white;
    transform: perspective(600px) rotateY(0deg);
    transition: transform .5s linear 0s;


}

.container1:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
    cursor: pointer;
}

.container1:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}







.column {
padding: 20px;

}



.footer{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 10px;
margin-top: 50mm;
margin-left: -3mm;
margin-right: -3mm;
font-family:'Times New Roman', Times, serif ;
color: rgb(14, 36, 99);
font-size: 30px;  
}



.gif{
float:right;
margin-top:0%;


}


.leftbox p{

padding:5px;



}
.leftbox {
     
     margin-top: 4mm;
   border:solid 5px;
   margin-right:40px;
   background-color:#f5f5f5;
 width: 1480px;;
 height:230px;
 font-size:17px;
 border-radius:25px;
 margin-left: 4mm;
 clear: left;
 margin-left: 5mm;
}
.h1{
margin-top: 1%;
margin-bottom: 1%;
text-align: center;
font-family:fantasy;


}
.ok{ 
font-size:26px;
margin-top: 1%;
float: right;
}
#parg1{
margin-top:-20mm;
padding-left:2px;
}

.h3  {
    position: absolute; 
   font-family:fantasy;
   font-size:50px;
   right: 35%;
    
}

.parg2{
border-radius:25px;
font-size:21.5px;
background-color:white;
height:400px;
width:100%;
padding:10px;
padding-top:2px;
margin-top:5px;
font-family:cursive;
border:solid 5px;
margin-left: 5mm;
}   


.parg3{
border-radius:25px;
font-size:21px;
background-color:white;
height:450px;
width:100%;
padding:10px;
padding-top:2px;
margin-top:5px;
font-family:cursive;
border:solid 5px;
margin-left: 5mm;
}   


.rightpart{    

        position: relative;
       width: 50%;
       right: 0%;
       top: 0%;
       margin-top: 5%;
       float: right;
       margin-right: 3mm;
       
   }  

.leftpart{   
        position: relative;
        left:0% ;
        margin-top: 12%;
       
   width:40%;
   height:auto; 
       

}
.lastimage{
clear: both;
     border-radius:25px;
       border:30px groove;
   margin-top: 20mm;
   position:relative;
   
   
}
.lastparg{
    position:absolute;
      background-color:white;
  top:40%;
  font-size:27px;
  font-family:cursive;
  
  }
  




.question button{
width: 100%;
 background-color: rgb(14, 36, 99);

align-items: center;
padding: 10px;


font-size: 15px;
color:white;

cursor: pointer;
}
.question p{
text-decoration:bold;
font-size: 15px;
max-height:0;
opacity: 0;
line-height: 1.5;
overflow: hidden;
transition: all 0.6s ease;
}
.arrow{
transition: transform 0.5s ease-in ;
color: #fff;
}

.question p.show{
max-height: 200px; 
opacity: 1;
padding:0px 15px 30px 15px;
}
.question button .arrow.rotate{
transform: rotate(180deg);
}



